body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fffff2;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#Main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.Links {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
